<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <h1>Sign Up</h1>
    <form method="POST" action="/signup">
        <label for="fullname">Full Name</label>
        <input name="fullname" type="text" placeholder="Enter your fullname">
        <label for="email">Email</label>
        <input name="email" type="email" placeholder="Enter your email">
        <label for="password">Password</label>
        <input name="password" type="password" placeholder="Enter your password">
        <button type="submit">Submit</button>
    </form>
</body>

</html>